<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>17qrenteroot</display-name>
  <filter>
    <filter-name>autoconfigfilter</filter-name>
    <filter-class>
	 	com.lsid.autoconfig.client.AutoConfig
	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>autoconfigfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>pubwxauthfilter</filter-name>
    <filter-class>
	 	com.lsid.qrenter.filter.Pubwxauth
	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>pubwxauthfilter</filter-name>
    <url-pattern>/pubwxauth/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>pubwxauthbackfilter</filter-name>
    <filter-class>
	 	com.lsid.qrenter.filter.Pubwxauthback
	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>pubwxauthbackfilter</filter-name>
    <url-pattern>/pubwxauthback/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>wxscanauthinfofilter</filter-name>
    <filter-class>
	 	com.lsid.qrenter.filter.Wxscanandauthinfo
	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>wxscanauthinfofilter</filter-name>
    <url-pattern>/wxscanauthinfo/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>wxauthinfoplayfilter</filter-name>
    <filter-class>
	 	com.lsid.qrenter.filter.Wxauthinfoandplay
	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>wxauthinfoplayfilter</filter-name>
    <url-pattern>/wxauthinfoplay/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>wxfilter</filter-name>
    <filter-class>
	 	com.lsid.qrenter.filter.Weixin
	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>wxfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>wxfixcodefilter</filter-name>
    <filter-class>
	 	com.lsid.qrenter.filter.WxFixcode
	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>wxfixcodefilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>lastfilter</filter-name>
    <filter-class>
	 	com.lsid.qrenter.filter.Last
	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>lastfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>